/* Variables and Resets */
:root {
    /* Colors */
	--color-background: #f8f5d7;
	--color-hover: #0e29b5;
	--color-text: #333;
    --color-text-secondary: gray;
	--color-overlay: rgba(0, 0, 0, 0.5);
    /* Borders */
	--border-dashed: 1px dashed #cccccf;
    /* Font sizes */
    --font-size-xsmall: 0.675rem;
	--font-size-small: 0.875rem;
	--font-size-base: 1rem;
	--font-size-medium: 1.25rem;
	--font-size-large: 2rem;

    --text-transform: uppercase;
    /* Spacing */
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
    /* Transition */
	--transition-ease: 0.3s ease;
	--transition-speed: 0.5s ease;
	--max-container-width: 1200px;
	--carousel-height: 600px;
}

html {
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

img {
	max-width: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
    font-size: var(--font-size-small);
	line-height: 1.2;
	padding-left: var(--spacing-small);
	padding-right: var(--spacing-small);
	overflow-x: hidden;
}

a {
	color: inherit;
	cursor: pointer;
}

hr {
	border: var(--border-dashed);
}

button {
	background: none;
	border: none;
}

.text-small {
    font-size: var(--font-size-xsmall);

}

.text-gray {
    color: var(--color-text-secondary);
}

.text-uppercase {
    text-transform: var(--text-transform);
}

.text-base {
    font-size: var(--font-size-base);
}

.py-small {
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
}

.px-small {
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
}

.py-medium {
    padding-top: var(--spacing-medium);
    padding-bottom: var(--spacing-medium);
}

.divider {
	border-top: var(--border-dashed);
}

/* Container */
.container {
	max-width: var(--max-container-width);
	width: 100%;
	margin: 0 auto;
}

/* HEADER */
header {
	background-color: var(--color-background);
}

.header-content {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: end;
	padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
}

.header-title {
	text-align: center;
	grid-area: 2 / 1 / 2 / 4;
	padding-top: var(--spacing-small);
}

.data-1 {
	display: flex;
    align-items: center;
    gap: var(--spacing-small);
}

.data-2 {
	text-align: right;
}

@media (min-width: 768px) {
	.header-title {
		grid-area: -1 / 1 / 2 / 3;
	}

	.data-1, .data-2 {
		grid-area: 2;
	}
}

@media (min-width: 1024px) {
	.header-content {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.header-title {
		grid-area: 1 / 2 / 1 / 3;
	}

	.data-1, .data-2 {
		grid-area: 1;
	}
}

.header-title h1 {
	font-size: 3rem;
}

h1 {
    font-size: var(--font-size-large);
}

h2 {
	font-size: var(--font-size-medium);
}

.burger-menu {
	font-size: var(--font-size-small);
	cursor: pointer;
	transition: color var(--transition-ease), transform var(--transition-ease);
}

.burger-menu:hover,
.burger-menu:focus {
	transform: scale(1.1);
	color: var(--color-hover);
	outline: none;
}

/* Sidenav */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	background-color: var(--color-background);
	overflow-x: hidden;
	transition: width 0.5s ease;
	padding-top: 3rem;
	z-index: 1001;
}

.sidenav.open {
	width: 320px;
}

.sidenav ul {
	max-width: 85%;
	margin: 0 3rem 0 1rem;
}

.sidenav a {
	padding: var(--spacing-small) 0;
	display: block;
}

.sidenav .nav-link {
	border-bottom: var(--border-dashed);
	font-size: 1.25rem;
	font-weight: 500;
}

.sidenav .closebtn {
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 0.5rem;
	cursor: pointer;
	background: none;
	border: none;
}

.sidenav a:hover {
	color: var(--color-text);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-overlay);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-ease),
        visibility var(--transition-ease);
	z-index: 1000;
}

.overlay.show {
	opacity: 1;
	visibility: visible;
}

/* MAIN NAVIGATION */
.main-navigation {
	display: none;
}

.main-navigation ul {
	display: flex;
	justify-content: center;
	gap: var(--spacing-small);
}

.main-navigation a {
	margin: 0 var(--spacing-small);
	display: block;
	text-align: center;
	transition: background-color var(--transition-ease),
        color var(--transition-ease);
}

.main-navigation a:hover,
.main-navigation a:focus {
	outline: none;
	color: var(--color-hover);
}

/* Media Query for Desktop View */
@media (min-width: 850px) {
	.main-navigation {
		display: flex;
		justify-content: center;
		gap: var(--spacing-small);
		flex-wrap: wrap;
		position: static;
        border-bottom: var(--border-dashed);
        padding: var(--spacing-small);
    }
}
/* END HEADER */



.grid-divider {
    width: auto;
    height: auto;
    border-top: var(--border-dashed);
    border-left: var(--border-dashed);
}

/* START FOOTER styling */
.footerContainer {
    display: flex;
    gap: var(--spacing-medium);
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.globalLogo {
    max-width: 160px;
}

footer ul.globalLinks {
    display: flex;
    gap: var(--spacing-medium);
}

.separator {
    flex: 1;
    display: flex;
    height: 1px;
    background: none;
    border-top: var(--border-dashed);
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    width: 100%;
}

/* Card box styling */
.card-box {
    flex: 1;
    padding: var(--spacing-medium);
    background: rgba(0, 0, 0, 0.1);
    transition: background var(--transition-ease),
        transform var(--transition-ease);
}

.card-box:hover {
    background: #8e8d8d8d;
    transform: scale(1.05);
}

.social-icons {
    display: flex;
    gap: var(--spacing-medium);
}

.social-icons a:hover {
    color: var(--color-hover);
}

@media (min-width: 768px) {
    .box {
        flex-direction: row;
    }

    .box > .card-box {
        width: calc(33.333% - var(--spacing-small));
    }
}

@media (min-width: 850px) {
    .header-title {
        font-size: var(--font-size-large);
        text-align: center;
        flex: 1;
        margin: 0;
    }

    .footerContainer {
        flex-direction: row;
    }
}



/* ARTICLE PAGE EXTRA CSS */
.article-container,
.divider-article {
    max-width: 870px;
    margin: 2rem auto;
}

.article-main-content {
    font-size: 1.125rem;
    line-height: 1.6875rem;
}

.article-main-content p {
    margin: var(--spacing-medium) 0;
}

.article-main-content .divider {
    margin: 1rem auto;
}

/* article */
.author {
    display: flex;
    gap: 0.5rem;
    font-weight: 700;
    align-items: center;
}

.date-tags {
    display: flex;
    justify-content: space-between;
}

.tags {
   display: flex;
   gap: 1rem; 
}

.short-description {
    color: #2a5d9e;
    font-size: var(--font-size-medium);
    padding-top: var(--spacing-small);
}
.article-image {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: var(--spacing-small);
}

.image-credits {
    font-size: 0.8em;
    color: #777;
}

.content {
    margin: 10px 0;
}
.modern-paragraph {
    margin: 15px 0;
    line-height: 1.6;
}

.share-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.sharing-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Share button styling */
.share-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 0.82rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: end;
}

.share-button:hover {
    background-color: #555;
}


.article-hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.article-main-summary {
    align-content: end;
}

.article-main-summary ul > li {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    border-top: var(--border-dashed);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-background);
    border-bottom: var(--border-dashed);
    margin-top: 0;
    
}


  @media (min-width: 768px) {
    .article-hero-grid {
        display: grid;
        grid-template-columns: 2fr auto 1fr;
        gap: 1rem;
    }
    
    .article-main-summary {
        align-content: end;
    }

    .article-main-content {
        max-width: 600px;
        margin: auto;
    }
}

.special-ul {
    margin-left: 0rem;
    border-left: 1px dashed black;
    padding: 0 0.8rem;
}

.special-ul li {
    list-style-type: square;
    margin-top: -0.5rem;
}

